<form action="signin" method="post">
  <input type="text" name="mail" placeholder="Email">
  <input type="password" name="password" placeholder="Password" >
  <input type="submit" value="Sign in">
  </form>