<form action="/signup" method="post">
  <input type="text" name="mail" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirm to Password">
  <input type="submit" value="Sign up">
  </form>